<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<settings>
    <alarm>Buzzer.mp3</alarm>
    <longBreakLength>15</longBreakLength>
    <pomodoroLength>25</pomodoroLength>
    <shortBreakLength>5</shortBreakLength>
    <sound>true</sound>
    <sounds>
        <sound>Buzzer.mp3</sound>
        <sound>LoudAlarmClockBuzzer.mp3</sound>
        <sound>TempleBellBigger.mp3</sound>
    </sounds>
</settings>
